<!doctype html>
<html lang="en" ng-app="AdminMessage">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}">
        <title>کلینیک آبان</title>
        {#        <link href="{{ asset('bundles/public/css/bootstrap.rtl.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('bundles/AdminMessage/css/AdminMessageCss.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/public/css/bootstrap.4.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/public/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/public/css/loading-bar.css')}}">
        <!-- select2 -->
        <link href="{{ asset('bundles/public/css/select/select2.min.css')}}" rel="stylesheet">
        <script>
            var baseURL = '{{ app.request.getBaseURL() }}';
        </script>
    </head>
    <body>
        <div class="toolbar" >
            <div style="color:#fff" ><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></div>
        </div>

        <div class="col-lg-10" style="margin: 0;padding:0">
            <nav class="navbar navbar-dark " style="background: rgba(90,156,144,0.7)">
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                    <div class="nav navbar-nav " main-menu>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
            <div class="container" style="margin: 30px;">
                <div ng-view>

                </div>
            </div>
        </div>

        <div class="col-lg-2" style="margin: 0;padding:0">
            <div style="background: rgba(90,156,144,0.7);text-align: center;padding: 5px">
                <img src="{{asset('bundles/public/img/logo.png')}}" alt=""/>
            </div>
            <div class="list-group" style="text-align: right">
                <a href="{{path('_admin')}}" class="list-group-item">
                    صفحه اصلی
                </a>
                <a href="{{path('UserManager')}}" class="list-group-item ">کنترل کاربران</a>
                <a href="{{path('Slider')}}" class="list-group-item">اسلایدر</a>
                <a href="{{path('Slider')}}#/keyvalue" class="list-group-item">مقدارهای ثابت</a>
                <a href="{{path('AdminMessage')}}" class="list-group-item active">پیام های کاربران</a>
                <a href="{{path('_admin')}}#/profile" class="list-group-item">پروفایل</a>
                <a href="{{path('fos_user_security_logout')}}#/keyvalue" class="list-group-item">خروج</a>
            </div>
        </div>
        <script type="text/javascript">
            var csrf = '{{ csrf_token('authenticate') }}';
        </script>

        <script src="{{ asset('bundles/public/js/jquery-1.11.1.js')}}"></script>
        <script src="{{ asset('bundles/public/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bundles/blog/js/angular.min.js') }}"></script>
        <script src="{{ asset('bundles/public/js/angular-route.min.js') }}"></script>
        <script src="{{ asset('bundles/public/js/angular/angular-base64.min.js') }}"></script>
        <script src="{{ asset('bundles/public/js/angular/angular-resource.min.js') }}"></script>
        {#        <script src="{{ asset('bundles/public/js/croper/ng-img-crop.js')}}"></script>#}
        <script src="{{ asset('bundles/AdminMessage/js/controller.js') }}"></script>
        <script src="{{ asset('bundles/AdminMessage/js/directive.js') }}"></script>
        <script src="{{ asset('bundles/public/js/angular-animate.min.js') }}"></script>
        <script src="{{ asset('bundles/public/js/loading-bar.js') }}"></script>
        <!-- PNotify -->
        <script type="text/javascript" src="{{ asset('bundles/public/js/notify/pnotify.core.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/js/notify/pnotify.buttons.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/js/notify/pnotify.nonblock.js')}}"></script>
        <!-- select2 -->
        <script src="{{ asset('bundles/public/js/select/select2.full.js')}}"></script>
    </body>
</html>