{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Page</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Meta</th>
                <td>{{ entity.meta }}</td>
            </tr>
            <tr>
                <th>Visit</th>
                <td>{{ entity.visit }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{{ entity.createAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{{ entity.updateAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('page_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
